matplotlib==3.7.2
pydicom==3.0.1
numpy==1.26.4
pandas==2.2.3
ipywidgets==8.1.7
openpyxl
opencv-python==4.11.0.86
pillow==11.2.1
simpleitk==2.5.2
torch==2.5.1
torchvision
torchaudio
plotly==5.24.1
seaborn==0.12.2
scipy==1.15.3
scikit-learn==1.2.2
catalyst==21.5
pytorch-lightning==2.5.5
omegaconf==2.3.0
monai==1.5.1
dotenv
tqdm
torchmetrics==1.8.2
fastapi==0.115.13
uvicorn[standard]==0.34.0